* {
  background-color: #f2f2f2;
}

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
